body {
    height: 100vh;
    margin: 0;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #616161;
    border: 1px solid grey;
    background-color: #f3f2f2;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    padding: 20px
}

.App-title {
    font-size: 1.5em;
}

.App-content {
    font-size: large;
    display: flex;
    flex-grow: 1;
}

.App-content > * {
    margin-bottom: 10px;
}

.Menu {
    height: 100%;
}

.Menu-Item {
    padding: 20px;
    cursor: pointer;
    border: 1px solid #7a7878;
}

.Menu-Item:hover {
    background-color: #e1e1e1;
    transition: 200ms;
}

.Menu-Item--Selected,.Menu-Item--Selected:hover {
    background-color: #7a7878;
    color: #fff;
}

.App-container {
    flex-grow: 1;
    overflow: auto;
}
